extends markdown
# Personnel

snippet @todo "todo"
**à faire**
endsnippet

snippet  @done "fait"
**fait**
endsnippet

snippet NTH "Nice To Have"
`Nice To Have`
endsnippet

snippet @att "Attnetion"
**Attention**
endsnippet

snippet vlink "lien sur le visuel"
[$1]($0${VISUAL})
endsnippet
